/* ==========================================================================
   RESPONSIVE OVERRIDES & BREAKPOINTS
   ========================================================================== */

/* ================== */
/* MOBILE DEVICES (up to 480px) */
/* ================== */
@media (max-width: 480px) {


    .slide {
        flex-direction: column-reverse;
        align-items: center;
     
        height: 130vh;
    }
    /* Header / Nav */
 


    .content-left,
    .content-right {
        width: 95%;
       height: 50%;
        justify-content: center;
        padding-top: 50px;
        margin: 0;
        align-items: start;
    }

    .product-image {

        height: 55%;
        top: 18%;
    }

    .product-name {
        font-size: clamp(28px, 6vw, 60px);
        text-align: center;
    }

    .slider-controls {
        /* position: static; */
    top: 120%;
    right: 30%;
    }

    .slider-controls2 {
        position: relative;
        top: 0%;
        right: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .monin-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .monin-card {
        height: 500px;
    }

    .nav-left,
    .nav-right a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero {
        height: 100vh;
    }

    #hide,
    #hide2 {
        display: none;
    }

    .world-section {
        align-items: start;
        margin-top: 0px;
    }

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    color: black;
    /* background-color: #000; */
    width: 90%;
    justify-self: center;
    align-items: center;
    /* background-color: rebeccapurple; */

}
.btn-icon img {

    width: 20px;
    height: 20px;
}
#menuToggle {
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    margin-left:10px ;
    font-size: 15px;}
 
 .logo{
    padding-left:50px ;
    display: flex;
}
.image1{
    width: 100px;
}.image2{
    width: 120px;
}
.container3{
    margin-top: 300px;
}.category-card.active {
    flex: 0 0 300px;
    height: 400px;
}
.category-card {
    height: 400px;
}.world-section{
    margin-top: 100px;
}
.monin-card{
    width: 90%;
    justify-self: center;
    height: 400px;
}
.none{display: none;}
.controls{
    /* background-color: red; */
    margin-top: 150px;
    justify-content: center;
}
 .fa-solid {
    /* font-size: 25px; */
    font-size: 16px;
}

}


/* ================== */
/* SMALL TABLETS (481px - 768px) */
/* ================== */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        font-size: 15px;
        
    }

    .slide {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content-left,
    .content-right {
        width: 95%;
        height: 50%;
        justify-content: center;
        padding-top: 50px;
    }

    .product-image {
        height: 44%;
        top: 13%;
    }

    .product-name {
        font-size: clamp(28px, 5vw, 60px);
        text-align: center;
    }

    .slider {
        height: 100vh;
    }

    .monin-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .category-card {
        flex: 0 0 350px;
        height: 400px;
    }

    .category-card.active {
        flex: 0 0 350px;
        height: 50vh;
    }

    .slider-controls {
        top: 95%;
        right: 38%;
    }

    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hero {
        height: 100vh;
    }
    .none{display: none ;}
    #hide{display: none;}
    .slider-controls2{   display: flex; position: relative;   justify-content: end;
    left: 70px;
    gap: 18px;
align-items: center; top: 50px;}
    .monin-card{
        width: 90%;
        height: 380px;
        justify-self: center;
    }
    .hero-section{
        margin-top: 100px;
    }
        
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

/* background-color: red; */
    color: black;
    /* background-color: #000; */
    width: 95%;
    justify-self: center;
    align-items: center;
    /* background-color: rebeccapurple; */

}#menuToggle{
    font-size: 20px;
}
.image1{
    width: 100px;
}.image2{
    width: 120px;
}
.btn-icon img {

    width: 20px;
    height: 20px;
}
  .fa-solid {
    /* font-size: 25px; */
    font-size: 16px;
}


}

/* ================== */
/* TABLETS / SMALL LAPTOPS (769px - 992px) */
/* ================== */
@media (min-width: 769px) and (max-width: 992px) {
    .slide {
        flex-direction: column-reverse;
        align-items: center;
    }
  

    .content-left,
    .content-right {
        width: 95%;
        height: 47%;
        justify-content: center;
    }
 .product-image {
        height: 45%;
        top: 20%;
    }

    .product-name {
        font-size: 60px;
    }

    .hero {
        height: 60vh;
    }
    .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    color: black;
    /* background-color: #000; */
    width: 90%;
    justify-self: center;
    align-items: center;
    /* background-color: rebeccapurple; */

}
#menuToggle{
    font-size: 25px;
}

    .slider-controls {
        top: 92%;
        right: 38%;
    }

 
    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .monin-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

     .category-card {
        flex: 0 0 400px;
        height: 50vh;
    }

    .category-card.active {
        flex: 0 0 400px;
        height: 50vh;
    }

    .world-section {
        height: 45vh;
    }

    .footer-content {
        align-items: center;
    }
    .hero {
        height: 100vh;
    }
    .none{display: none ;}
    #hide{display: none;}
    .slider-controls2{   display: flex; position: relative;   justify-content: end;
    left: 70px;
 
    gap: 18px;
align-items: center; top: 50px;}
    .monin-card{
        width: 90%;
        height: 380px;
        justify-self: center;
    }
    .hero-section{
        margin-top: 100px;
    }
}

/* ================== */
/* LARGE TABLETS / SMALL LAPTOPS (993px - 1024px) */
/* ================== */
@media (min-width: 993px) and (max-width: 1024px) {
 

    .slide {
        flex-direction: column-reverse;
        align-items: center;
    }

    .content-left,
    .content-right {
        width: 95%;
        height: 47%;
        justify-content: center;
    }
 
    .product-image {
        height: 37%;
        top: 17%;
    }
    .slider-controls {
        top: 92%;
        right: 38%;
    }

    
    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }



    .product-name {
        font-size: 40px;
    }

    .slider {
        height: 100vh;
    }

    .containern,
    .container,
    .footer-container {
        max-width: 960px;
        margin: auto;
    }
    .world-section{height: 50vh;}
    .hero{height: 60vh;}
   
    #hide{display: none;}
      .monin-card{
        width:48vw;
        height: 550px;
        justify-self: center;
    }
    .slider-controls2{   display: none;
align-items: center; top: 50px;}
  
    .hero-section{
        margin-top: 100px;
    }   
}

/* ================== */
/* LAPTOPS / SMALL DESKTOPS (1025px - 1200px) */
/* ================== */
@media (min-width: 1025px) and (max-width: 1200px) {
    .slide {
        flex-direction: row;
        align-items: center;
    }

    .content-left,
    .content-right {
        width: 50%;
        height: auto;
    }

    .product-name {
        font-size: 50px;
    }


    .containern,
    .container,
    .footer-container {
        max-width: 1200px;
        margin: auto;
    }
}

/* ================== */
/* LARGE DESKTOPS (1201px - 1400px) */
/* ================== */
@media (min-width: 1201px) and (max-width: 1400px) {
    body {
        font-size: 16px;
    }

    .product-name {
        font-size: 60px;
    }

    .containern,
    .container,
    .footer-container {
        max-width: 1200px;
        margin: auto;
    }
}

/* ================== */
/* EXTRA LARGE DESKTOPS (1401px +) */
/* ================== */
@media (min-width: 1401px) {
    .containern,
    .container,
    .footer-container {
        max-width: 1400px;
        margin: auto;
    }

    .product-name {
        font-size: 65px;
    }
}
