/* ==========================================================================
   RESPONSIVE OVERRIDES & BREAKPOINTS
   ========================================================================== */

/* ================== */
/* MOBILE DEVICES (up to 480px) */
/* ================== */
@media (max-width: 480px) {

    
    .nav-left,
    .nav-right a {
        display: none;
    }

    .hamburger {
        display: block;
    }

 
    #hide,
    #hide2 {
        display: none;
    }



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


    color: black;
    /* background-color: #000; */
    width: 90%;
    justify-self: center;
    align-items: center;
    /* background-color: rebeccapurple; */

}
.btn-icon img {

    width: 20px;
    height: 20px;
}
#menuToggle {
    background-color: transparent;
    color: #ffffff;
    font-weight: 500;
    margin-left:10px ;
    font-size: 15px;}
 
 .logo{
    padding-left:50px ;
    display: flex;
}
.image1{
    width: 100px;
}
.monin-card{
    width: 90%;
    justify-self: center;
    height: 400px;
}
.none{display: none;}
.controls{
    /* background-color: red; */
    margin-top: 150px;
    justify-content: center;
}
 .fa-solid {
    /* font-size: 25px; */
    font-size: 16px;
}
 .le-sirop-container {
    padding: 20px 10px;
  }

  .home-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  .header-title {
    font-size: 16px;
  }

  .main-title {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }



}




/* ================== */
/* SMALL TABLETS (481px - 768px) */
/* ================== */
@media (min-width: 481px) and (max-width: 768px) {
  
    
    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }


    
        
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

/* background-color: red; */
    color: black;
    /* background-color: #000; */
    width: 95%;
    justify-self: center;
    align-items: center;
    /* background-color: rebeccapurple; */

}#menuToggle{
    font-size: 20px;
}
.image2{
    width: 120px;
}
.btn-icon img {

    width: 20px;
    height: 20px;
}
  .fa-solid {
    /* font-size: 25px; */
    font-size: 16px;
}
  .mega-menu-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .link-list li {
    margin-bottom: 15px;
  }
  .promo-card {
    grid-column: span 1;
    flex-direction: column;
    padding: 30px 15px;
  }
  .promo-text-side {
    align-items: center;
    margin-bottom: 30px;
  }
  
    .hamburger {
        display: block;
    }
    .logo2{
         width: 250px;
    }
    .btn-icon img  {
    /* background-color: #000000;    */

 filter: brightness(0) invert(0);
    width: 80px;
    height: 80px;}
#menuToggle {
 
    font-size: 50px;}
    .home-icon {
      background-color: rebeccapurple;
  font-size: 34px;
}

.header-title {
  font-size: 38px;
}
    .fa-magnifying-glass{
        padding-bottom: 35px;
        text-align: center;
        margin-right: 50px;
        font-size: 55px;
    }
 
}

/* ================== */
/* TABLETS / SMALL LAPTOPS (769px - 992px) */
/* ================== */
@media (min-width: 769px) and (max-width: 992px) {
   .le-sirop-container{
    min-height: 20vh;
   }
.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px; /* Creates the thin separation line look */
    background-color: transparent;
    display: flex;
    justify-content: center;
  
}


   .lang-btn {
    background: #fff;
    border: none;
    padding: 8px 12px;
 
    /* border-radius: 6px;   */
    color: #222;
    font-weight: 600;
    font-size: 40px;
    cursor: pointer
}

.product-card {
    background-color: var(--card-bg);
    /* background-color: #000; */
    aspect-ratio: 1 / 1.1; /* Slightly taller than square */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    margin-top: 50px;

}
.none{
  display: none;
}
    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .logo2{
         width: 250px;
    }
    .btn-icon img  {
    /* background-color: #000000;    */

 filter: brightness(0) invert(0);
    width: 80px;
    height: 80px;}
#menuToggle {
 
    font-size: 50px;}
    .home-icon {
  font-size: 34px;
}
    
.header-title {
  font-size: 38px;
}
    .fa-magnifying-glass{
        padding-bottom: 35px;
        text-align: center;
        margin-right: 50px;
        font-size: 55px;
    }
 .le-sirop-container {
    padding: 30px 15px;
  }
  .le-sirop-header {
    
    margin-bottom: 25px;
  }

  .main-title {
    font-size: 200px;
  }

  .description {
    font-size: 38px;
  }

  .mega-menu-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .link-list li {
    margin-bottom: 15px;
  }
  .promo-card {
    grid-column: span 1;
    flex-direction: column;
    padding: 30px 15px;
  }
  .promo-text-side {
    align-items: center;
    margin-bottom: 30px;
  }

}

/* ================== */
/* LARGE TABLETS / SMALL LAPTOPS (993px - 1024px) */
/* ================== */
@media (min-width: 993px) and (max-width: 1024px) {
 

 
    .nav-left,
    .nav-right li:not(.hamburger):not(.icon) {
        display: none;
    }

    .hamburger {
        display: block;
    }



    
    .footer-container {
        max-width: 960px;
        margin: auto;
    }
    .le-sirop-container {
 
    /* background-color: var(--background-color); */
    min-height: 0vh;}
      .mega-menu-content {
    grid-template-columns: 1fr 1fr;
  }
  .promo-card {
    grid-column: span 2;
  }
   
    
}

/* ================== */
/* LAPTOPS / SMALL DESKTOPS (1025px - 1200px) */
/* ================== */
@media (min-width: 1025px) and (max-width: 1200px) {

    .footer-container {
        max-width: 1200px;
        margin: auto;
    }
    
}

/* ================== */
/* LARGE DESKTOPS (1201px - 1400px) */
/* ================== */
@media (min-width: 1201px) and (max-width: 1400px) {
 
    .footer-container {
        max-width: 1200px;
        margin: auto;
    }
    .le-sirop-container{
        min-height: 0vh;
    }
}

/* ================== */
/* EXTRA LARGE DESKTOPS (1401px +) */
/* ================== */
@media (min-width: 1401px) {
  
    .footer-container {
        max-width: 1400px;
        margin: auto;
    }

  
}
