.le-sirop-content {
    /* text-align: center; */
    /* background-color: #e0a000; */
    max-width: 800px;
    /* Adjust as needed */
    margin-right: 180px;
}

.le-sirop-container {
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    /* background-color: var(--background-color); */
    min-height: 0vh;
    color: var(--primary-text-color);
}
.fex{
    justify-content: start;
    padding-left: 80px;
}